<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
        .row_1{
            display: flex;
            justify-content: space-between;
        }
        .row_2{
            display: flex;
            justify-content: space-between;
        }
        .container{
            border: solid black 2px;
            padding: 10px;
        }
        .btn{
            background-color: rgb(50, 234, 50);
        }
    </style>
    <title>Plant Tree</title>
</head>
<body>
    <div class="container">
        <div class="row_1">
            <h1 style="color: rgb(50, 234, 50);">Arbortrary</h1>
            <h1>Welcome, {{user.first_name}}</h1>
        </div>
        <div class="row_2">
            <p>A site to track randomly planted trees</p>
            <div class="links">
                <a href="/user/account/{{user.id}}" class="btn btn-primary">My Trees</a>
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red;">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form action="/new/tree/process" method="POST">
            <div class="row_3">
                <div class="col-4 offset-1">
                    <h2>Arbitrarily Plant a Tree</h2>
                    <div class="form-group mb-3">
                        <label for="species" class="form-label">Species:</label>
                        <input type="text" name="species" id="species" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" name="location" id="location" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="reason" class="form-label">Reason:</label>
                        <input type="text" name="reason" id="reason" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="date_planted" class="form-label">Date Planted:</label>
                        <input type="date" name="date_planted" id="date_planted" class="form-control">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Plant</button>
        </form>
    </div>
</body>
</html>
</body>
</html>